/* Root Styling ************************************************************** */
:root {
    --title-font-size: clamp(20px, 1vw, 24px);
    --title-icon-size: clamp(24px, 1.5vw, 28px);

    --legend-label-font-size: var(--title-font-size);
}
/* Body, fonmt styling *********************************************************/
body, html {
    margin: 0;
    padding: 10;
    height: 100%;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit color from surrounding text */
    font-family: inherit; /* Inherit font from surrounding text */
}

a:hover {
    text-decoration: none; /* Underline only on hover */
}

/* Title Overlay ************************************************************/
#page-title {
    position: absolute;
    top: 10px;
    left: 1%;
    font-size: var(--title-font-size);
    font-weight: bold;
    color: white;
    border-color: black;
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); */
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 10px;
    border-radius: 8px;
    z-index: 1000;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
    font-family: Arial, sans-serif;
}

/* Icon Styling */
#title-icon {
    width: var(--title-icon-size); /* Adjust size */
    height: var(--title-icon-size);
    align-items: center;
}

/* Center the geocoder control container */


/* Optional: Adjust the styling of the search input box */
.leaflet-control-geocoder input {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: white;
    width: 300px; /* You can adjust the width of the input box */
}


/* Map styling ************************************************************ */
#map {
    width: 100%;
    height: 100%;
    position: relative; /*This is needed to position the legend absolutely inside it */
}

/* CSS for individual location markers ************************************************************/
.custom-marker div {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

/* CSS for MarkerCluster group icons */
.leaflet-marker-cluster div {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    opacity: 0.7;
}

/* LatLon display - hide for small screen s(ie mobiles) *************************************************************************************/
@media (max-width: 768px) { 
    #latlon-display {
        display: none; /* Hide on small screens */
    }
}

#latlon-display {
    border: 1px solid black; /* Ensure the border is always applied */
}

/* Legend Styling *************************************************************************************/

.legend-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 100%;
}

.legend-item:hover {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.legend-color {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 3px;
}

.legend-item.disabled {
    opacity: 0.4; /* Dim disabled items */
}

/* Dropdown hamburger menu (which contains the Legend) ****************************************************************/
.hamburger-menu {
    position: absolute;
    top: 55px;
    left: 1%;
    display: flex;
    justify-content: flex-start; /* Aligns text horizontally to the left */
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    border-radius: 8px;
}

.hamburger-icon {
    background: none;
    border: none;
    font-size: var(--legend-label-font-size);
    cursor: pointer;
    align-items: center;
    font-family: inherit; /* Use the same font as the page */
    color: white; /* Adjust if needed */
}

.menu-label {
    font-size: var(--legend-label-font-size); /* clamp(18px, 4vw, 24px);  /* Font size will be at least 14px, scale with viewport width, but not exceed 24px */
    /* margin-left: 8px; */
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-family: inherit; /* Use the same font as the page */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position right below the hamburger icon */
    left: 1vh; /* Align with the left edge of the icon */
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000; /* Ensure it appears above other elements */
    /* margin-left: 10px; */
}

/* Show menu when the hamburger is clicked */
.hamburger-menu .show {
    display: block;
}

/* Dropdown header */
.dropdown-header {
    background-color: #444;
    color: white;
    padding: 12px 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #555;
}

/* Dropdown links */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown when the hamburger icon is clicked */
.show {
    display: block;
}

/* Overlay Styling ***********************************************************************/
.catchment-label {
    font-size: 12px;
    font-weight: bold;
    color: black;
    background:  rgba(255,215,0,0.4); /*rgba(173, 216, 230, 0.5);*/
    padding: 2px 5px;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
}

/* Page Loading Spinner styling ***************************************************************/
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border: 15px solid rgba(243, 243, 243, 0.7);
    border-top: 15px solid rgba(52, 152, 219, 0.85);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* END *************************************************************************************/