<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon"  href="/img/wave-favicon.png">

		</head>
		<body>
			<nav>
	    		<ul>	    		
	    			<a href="/">
	    				<div class="logo">
	    					<img src="/img/wave-icon.jpg" width = "75" height="50">
	    				</div>
					</a>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Waves">Waves</a></li>
	        		<li><a href="/Tides">Tides</a></li>
	        		<li><a href="/Pressure">Pressure</a></li>
	        		<li><a href="/Wind">Wind</a></li>
	        		<li><a href="/About">About</a></li>
	    		</ul>					
	    		
			</nav>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<footer>

			</footer>
		</body>
	</html>
